{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}




{% block content %}


{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">
      Hyperlinks
  </h1>
  <p class="lede">
How to make hyperlinks useful and accessible.  </p>
  <div class="text">

  <p>As much as possible, make links either active (include a verb) or make them describe a situation. Research<sup>1</sup> has found that users, especially older ones, hesitated less on links like Go to accounts, as opposed to links that simply said Accounts.</p>
    
    <p>Also, make sure the hyperlink doesn’t cover full stops.</p>

  <p>For example:</p>

  <p><a href="">Find out how the apprenticeship levy works</a>.</p>

  <p><a href="">Can't find your Government Gateway details?</a></p>
  <p><a href="">Forgotten your password?</a>
    
    <p>Try to put any hyperlinks at the end of sentences so that you don’t disrupt the syntax. This is to prevent users having to read the whole sentence and then go back to read the hyperlinked text<sup>2</sup>.</p> 

    <p>For example:</p>
    <p>If you haven’t registered yet, you need to <a href="">create an account</a>.</p> 

    
    <h2 class="heading-medium">Sources</h2>

<i><p>(1) Chadwick-Dias, A., McNulty, M and Tulllis, T. (2003), Web usability and age. How design changes can improve performance, Proceeding of ACM conference on universal usability, November, pp. 30–7 </p>

<p>(2) Lynch, C. (1997), ‘Identifiers and their roles in networked information applications’ in ARL: A bimonthly newsletter of research library issues and actions, 194, Washington, DC: Association of Research Libraries.</p></i>
    
</div>




</main>
{% endblock %}
