{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Dashboard {% endblock %} {% block inside_header %} {% endblock %} {% block content %} {% block after_header %} {% include "../includes/header.html" %}
 {% endblock %}

<main id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">
      Nudges
  </h1>
  <p class="lede">
Using behavioural science to inform content decisions.   </p>
  <div class="text">

  <p>We’ve worked with the Cabinet Office’s <a href="behaviouralinsights.co.uk">Behavioural Insights Team</a> to help employers use their levy funds and make better decisions.</p> 

<p>We don’t over use motivational language as this can be interpreted as patronising or inappropriate<sup>1</sup>. But we are trialling informative messages at particular times, and we’re measuring their impact. </p>

<p><span class="bold-small">Leveraging the ‘sunsetting rules’ by considering loss aversion</span></p>

<p>Levy funds expire after 24 months if they aren’t spent. The language we use to describe these ‘sunsetting rules’ utilises the fact that people tend to be highly loss averse.</p><p>We make these loses explicit by labelling sunsetting funds as ‘<span class="bold-small">Funds you could lose</span>’. And we use the call to action ‘<span class="bold-small">Use funds now</span>’ in relation to these expiring funds to encourage the use of these funds. We make these messages more effective by being precise about when funds expire - so we say ‘<span class="bold-small">in July 2017</span>’ rather than ‘in 2 months’.</p>

<p>To encourage desirable behaviour you should make calls-to-action salient, easy, and timely<sup>2</sup>. We show these sunsetting messages when users are checking their finances and making forecasts. We make the messages visibly conspicuous, and are working to make the journey to add new apprentices simple and easy.</p>

<p><span class="bold-small">Overcoming the endowment effect using a ‘gain frame’</span></p>

<p>People ascribe more value to the things they already have - this is known as the endowment effect<sup>3</sup>. There’s potential for users to see their DAS account like a bank account - they may see accumulating funds to be a good thing, and become reluctant to spend their funds.</p>

<p>To overcome this instinct, we try to reframe the spending of funds as a gain to the employer. So, we show the employer ‘<span class="bold-small">Co-investment you've gained</span>’ and ‘<span class="bold-small">Incentives you've gained</span>’ to make it clear that when employers invest in apprentices it’s a gain for them, rather than a loss.</p>

   <p><span class="bold-small">Overcoming the equilibrium effect</span></p>

<p>One possible behaviour within DAS is for the employer to aim towards spending all their levy, but not to spend any more than this. In other words, their target is a zero balance.</p><p>With the ultimate goal of DAS being to encourage the long-term take up of apprentices, we are looking at ways to show users the benefits of spending more than just their levy funds, and encouraging them to go into co-investment.</p>

<p>We are looking at showing timely messaging within the forecasting tool to remind employers that <span class="bold-small">government will pay 90%</span> of all additional apprentices. Again, this reframes the hiring of apprentices as a gain.</p> 

<p>Humans are notoriously bad at forecasting. They tend to be overconfident and overweigh small probabilities<sup>4</sup>. We’re designing the forecasting tool with these behavioural tendencies in mind, to help users make better decisions.</p> 

   <p><span class="bold-small">Reducing cognitive load</span></p>

<p>Cognitive load is the amount of thought you need to exercise in order to complete a specific task. In DAS there are a number of complex process going on at any given time and this information can overwhelm users.</p>

<p>Two forms of cognitive load are ‘intrinsic’ and ‘germane’. </p>

<p>Intrinsic cognitive load refers to the information in a particular piece of information or instruction. We chunk content up into easy to understand messages, which are easier to act upon. For example, the Welcome Wizard guides employers through 4 straight forward steps in order to set up their account.  </p>

<p>Germane cognitive load refers to patterns of thought. People find it easier to recognise and learn something new if they can discern a pattern within it. In DAS, we show vast amounts of information in our activity feed, but by using a formulaic and consistent syntax in the messages, users are quickly able to identify which information to pay attention to, and which bits they can ignore. </p>

   <p><span class="bold-small">Reducing choice paralysis</span></p>

<p>Most people’s working memory is around 4 items - showing people more than 4 bits of information leads to them paying less attention. It’s important to prioritise information for users because if everything is important, then nothing is. </p>

<p>We deliberately only show 4 tasks on the alerts list on the homepage. This is a manageable number of options to read and process. Also, we present an even number of options becuase odd numbers of options tend to create a bias towards the 'middle' option of the list. </p>

   <p><span class="bold-small">Creating desirable friction or ‘disfluency’</span></p>

<p>In certain areas of DAS we need to tell users important information, without this information they can’t create accounts or spend funds on apprentices. However,  at best people only read 28% of the content on a screen<sup>5</sup>. </p><p>In fact, ESFA user research has showed that our users don't pay attention to many of the messages on screen - they simply click green buttons and get as far as they can through the site until they get stuck.</p>

<p>To tackle this we make users slow down by putting important information in an unusual format, eg a numbered list or bullets, against an unusually coloured background. This ‘disfluency’ causes users to slow down and pay attention to the information.</p>


   <p><span class="bold-small">Personalisation</span></p>

<p>Users tend to pay more attention to personalised messages - it becomes self-relevant and users are motivated to invest time in it. Personalised messages can also increase our users' perceived competence<sup>6</sup>.</p>
<p>However, some users may take offence to personalised messages, especially if they sound overly familiar. So, we’ve decided to avoid using first names in the service for now. But it’s something we’ll test going forward.</p>
    
    
   <p> <span class="bold-small">Social comparisons</span></p>

<p>We haven’t yet done any work using social comparisons. But in theory, by comparing employers to other companies in their sector could be a positive nudge to encourage the uptake of apprentices. </p><p>For example, when employers look to hiring apprentices, we could show messages such as “85% of companies in your sector hired more than 20 apprentices this quarter”.</p> 

<p>The urge to conform is a powerful human tendency. And in a commercial context, the compulsion to gain advantage may play a role here. </p>
   
    
   <p> <span class="bold-small">Humanising the data </span></p>

<p>Currently in the forecasting designs, we only calculate the potential gains of spending funds in terms of funds gained. But we could look at humanising the spending of funds.</p><p>For example, in the forecasting tool we could show employers how many apprentices they’d be able to hire based on certain spending decisions.</p>
   
   <p>--- Sources ---</p>
<i>
<p>(1) Black, A. and K. Stanbridge, (2012), ‘Documents as ‘critical incidents’ in organization to consumer communication’., Visible Language, 46, 3, pp. 246– 281</p>

<p>(2) Nudge principles that can encourage desirable behaviours 
See the Behavioural Insights Team’s 2014 report EAST: Four simple ways to apply behavioural insights, available at http://www.behaviouralinsights.co.uk/publications/east-four- simple-ways- to-apply- behavioural-insights/<br>
People are more likely to do stuff if it’s easy to do. 2 There is a wide range of evidence on this point. On default pension contributions, see Madrian, B., and D. Shea ;The power of suggestion.&quot; Quarterly Journal of Economics (2001): 18-116. On simplifying applications for tuition financial assistance, see Bettinger, Eric P., et al. &quot;The role of application assistance and information in college decisions: Results from the H&R Block FAFSA experiment.; The Quarterly Journal of Economics 127.3 (2012): 1205-1242. On giving hospital patients clear instructions to prevent re-admission, see Jack, Brian W., et al. &;A reengineered hospital discharge program to decrease rehospitalization: a randomized trial.&quot; Annals of internal medicine 150.3 (2009): 178-187.<br>
Make it salient 3 Relevant evidence: on the general principle of using salience, see Dolan, P., Hallsworth, M., Halpern, D., King, D.,&; Vlaev, I. (2010). “MINDSPACE: Influencing behaviour through public policy” Institute for Government and Cabinet Office. On using post-it notes to enhance survey response rates, see Irish Revenue (2013). “Survey of Small and Medium Sized Business Customers” http://www.revenue.ie/en/about/ publications/business-survey- 2013.pdf. On making nutritional coding systems effective, see Mehta, R., &; Zhu, R. J. (2009). Blue or red? Exploring the effect of color on cognitive task performances. Science, 323(5918), 1226-1229.<br>
People are more likely to do something if you prompt them at the right time 4 Relevant evidence: on getting people to wash their hands, Judah, G., Aunger, R., Schmidt, W.-P., Michie, S., Granger, S. &; Curtis, V. (2009). Experimental pretesting of handwashing interventions in a natural setting. American Journal of Public Health, 99(S2), S405–S411. On increasing payment for court fines, Haynes, L., Green, D. P., Gallagher, R., John., O. &; Torgerson, D.J. (2013). Collection of delinquent fines: An adaptive randomized trial to access the effectiveness of alternative text messages On getting people to make honesty declarations on forms, Shu, L. L., Mazar, N., Gino, F., Ariely, D., &; Bazerman, M. H. (2012). Signing at the beginning makes ethics salient and decreases dishonest self-reports in comparison to signing at the end. Proceedings of the National Academy of Sciences, 109(38), 15197-15200.</p>

<p>(3) People ascribe more value to things they already possess
4 Morewedge, Carey K.; Giblin, Colleen E. (2015). "Explanations of the endowment effect: an integrative review". Trends in Cognitive Sciences. 19 (6): 339–348.</p>

<p>(4) Humans are notoriously bad at forecasting. Over confident and overweigh small probabilities. See i.a. Haran, Uriel, and Don A. Moore. "A better way to forecast." California Management Review 57.1 (2014): 5-15. Makridakis, Spyros, Robin M. Hogarth, and Anil Gaba. "Why forecasts fail. What to do instead." MIT Sloan Management Review 51.2 (2010): 83-90.  
According to mental accounting, people may inappropriately divide the same pot of money into different categories. <br>
Thaler, Richard H. (1985). "Mental Accounting and Consumer Choice". Marketing Science. 4 (3): 199–214. </p>

<p>(5) Harald Weinreich, Hartmut Obendorf, Eelco Herder, and Matthias Mayer: "Not Quite the Average: An Empirical Study of Web Use," in the ACM Transactions on the Web, vol. 2, no. 1 (February 2008), article #5.</p>

<p>(6) Personalisation and scarcity of time can influence behaviour. See the Behavioural Insights Team’s EAST framework, http://www.behaviouralinsights.co.uk/publications/east-four-simple-ways-to-apply-behavioural-insights  </p>
</i>

</div>



</main>
{% endblock %}
