{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Dashboard {% endblock %} {% block inside_header %} {% endblock %} {% block content %} {% block after_header %} {% include "../includes/header.html" %}
 {% endblock %}

<main id="content" role="main" tabindex="-1">
    <h1 class="heading-xlarge">
      Using data
  </h1>
  <p class="lede">
How to avoid basing design decisions on opinion. </p>
    <div class="text">

    <p>It’s useful to get familiar with google analytics. Or make friends with the performance analyst.</p>
</p>

    <p>Say someone comes up to you beaming, telling you “20,000 people have hit this page in one day!” — You should interrogate that. Is that really a good thing? What does that really mean? For example, if the bounce rate is high, perhaps the page isn’t actually helping anyone. </p>

      <p>When we talk about ‘data’ this doesn’t just mean google analytics figures - data should be seen as a package of intelligence you can use to build a picture of what’s going on. It can support your decisions or ideas or it can help you to push back on requirements that you’re being given that don’t necessarily meet user needs.</p>

   <h2 class="heading-medium">How to use data</h2>
        <p>
         
  <p>Take for example the use of the word “Payroll” vs. “Pay bill" in manage apprenticeships. </p>

  <p>There was discussion around which was the best term to use across the site and within the service. It was important as it was a critical aspect of companies getting access to their levy funds.  </p>

  <p>Here are some types of data we used to make a decision:</p>

  <p>1. Call centre staff reported back to us that users were struggling to set up their account because they didn’t have the right "payroll" person or they didn't have access to the payroll information that they needed. <br>
   2. We checked online usage of the words on <a href="https://www.semrush.com/">SEMrush</a> and found 3 million instances of “pay bill” vs. 97 million instances of “payroll”.<br>
   3. We checked <a href="https://trends.google.co.uk/trends/">Google trends</a> and found payroll to be consistently more prevalently used online that pay bill over a the years 5 years. <br>
4. User research sessions showed us that the vernacular language of our users tending towards using “payroll” - to quote one user: “We don’t say 'pay bill' in the real world”.<br>
5. We set up an in-service feedback survey to capture any issues that users might be having on the pages that involved the term “payroll”.</p>

  <p>Further data we could’ve used:</p>

  <p>1. Analytics - we could use A/B testing to see which phrase created faster or more successful completion of certain transcations. <br>
2. Analytics - we could measure the number of users clicking on elements such as “What is my pay bill?” <br>
3. Forums - a good way of finding the vernacular language of users is forums such as <a href="http://feconnect.sfa.bis.gov.uk/">FE connect</a>. Forums can also be used to identify gaps in services or user needs that aren’t being met. <br>
4. Industry press is another good source to find vernacular language and to identify user needs. <a href="http://feweek.co.uk/">FE week</a> is one example. </p>


    </div>

</main>
{% endblock %}
