{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Dashboard {% endblock %} {% block inside_header %} {% endblock %} {% block content %} {% block after_header %} {% include "../includes/header.html" %}
 {% endblock %}

<main id="content" role="main" tabindex="-1">
    <h1 class="heading-xlarge">
      Ways of working
  </h1>
  <p class="lede">
How collaboration can help you do your job. </p>
    <div class="text">

    <p>Content design is all about collaboration. It’s a good idea to speak with the following people early on in a project. 
</p>
     
        <h2 class="heading-medium">Your design team</h2>
     
     <p>As part of the design team you’ll work closely with UX designers and a user researchers.</p> 

   <p>Ideally, the design process would involve you and a UX designer working together on design solutions. You’d then test the solutions with the user researcher, and then iterate the designs with the UX designer.</p>  

   <p>You should get involved with user testing as much as possible. Take notes and interrogate any assumptions that come out of user testing. </p> 

   <p>Once a you’ve found a design solution that works well for users in testing, we say that the design has been ‘validated’. </p> 

   <p>Ideally, no interfaces should go into production unless they’ve been validated. To encourage this, it can helpful to split design work from development work by keeping design tickets separate to production tickets either in Jira or Trello.</p>  

      <h2 class="heading-medium">Your developers</h2>
     
     <p>Developers are ultimately going to build the service, so it’s a good idea to get them involved early in the design process.</p>

<p>Developers can identify technical restrictions that might make your design solutions unworkable - they can also offer ideas and technical solutions to your design problems. Speak to them early, especially on large pieces of work.</p> 

      <h2 class="heading-medium">Your product owner</h2>
     
     <p>Your PO is going to set your design priorities.</p> 

<p>Part of their job is to balance value for the user against time and resource constraints. So, it can be a good idea to offer the PO multiple design solutions - and discuss with them which options they’d like to go ahead with. This can help ensure that user-centered designs make it into production, even if compromises are being made.</p>  

<p>When joining a team, you might want to ask your PO the following questions:</p> 

<p>How does this team make sure designs are validated before they go into the backlog?<br>
How does this team work to ensure that developers get early sight of exploratory design work? <br>
 How do you ensure user stories and tickets can be understood by anyone working on the project?</p>
     
     <h2 class="heading-medium">Your business analyst</h2>
     
     <p>Your BA is a good source of knowledge about why certain areas of the service are being built, so they are a good first point of contact if you have questions. You may also want to interrogate the requirements that the BA is giving to you, equally you might be able to feedback to the BA if you’ve identified user needs or acceptance criteria that aren’t currently being met.</p> 

<p>It’s important to work closely with your BA so that tickets are complete before being put into production. In a fast moving scrum team tickets can go into production quickly, so you need to ensure that only the validated designs are the ones that will be built. </p>
        
     <h2 class="heading-medium">Your performance analyst</h2>
     
     <p>You might not always have a performance analyst on your scrum team, but the agency will have some experts on hand to help you with analytics and monitoring user behaviour. </p>

<p>Speak to them to identify which users needs are being met by which areas of the service - and ensure that we are measuring the performance of these areas of the service using analytics.</p> 
     
    <h2 class="heading-medium">Your SMEs and policy contacts</h2> 
     
     <p>It’s a good idea to put together a list of the people you’ll need to work with outside of your scrum team, including SMEs or policy people.</p>

 <p>Find out who owns a particular area of the business or policy rules. They might be within ESFA or external, eg DfE.  Speak to these people early and establish a sign off process with them and your PO. This should help avoid bottlenecks at a later stage in the project. </p>

 <p>You could also find out who your contacts are within call centres or help desks - these people can help identify changes or trends in user needs, and find gaps in the current service. It’s helpful to be able to go to these people for data and information directly, rather than rely on your BA or PO to contact them on your behalf. </p>
      
      
    </div>

</main>
{% endblock %}
