{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Dashboard {% endblock %} {% block inside_header %} {% endblock %} {% block content %} {% block after_header %} {% include "../includes/header.html" %}
 {% endblock %}

<main id="content" role="main" tabindex="-1">
    <h1 class="heading-xlarge">
      Ways of working
  </h1>
  <p class="lede">
How collaboration can help you do your job. </p>
    <div class="text">

    <p>Content design is all about collaboration. It’s a good idea to speak with the following people early on in a project. 
</p>
     
     


    </div>

</main>
{% endblock %}
