{% extends "layout.html" %}


{% block page_title %}
  Sprint {{sprint}} - Dashboard

{% endblock %}


{% block inside_header %}


{% endblock %}


{% block content %}


{% block after_header %}

{% include "includes/header.html" %}

{% endblock %}

<main class="index" id="content" role="main" tabindex="-1">
  

    <div class="hgroup text">
<h1 class="heading-xlarge">
Apprenticeships in England
            </h1>
            <div class="text">
              <p class="lede">
Information about employing an apprentice, becoming an apprentice and providing apprenticeship training.              </p>
            </div>
  </div><div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="/what">What is an apprenticeship?</a></h2>
      </div>
  </div><div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium"><a href="/style">Who can do an apprenticeship?</a></h2>
        </div>
  </div><div class="grid-row">
      <div class="column-one-third">

        <h2 class="heading-medium"><a href="/funding">Government funding for training apprentices</a></h2>
        
      </div>
  </div><div class="grid-row">
        <div class="column-one-third">

      <h2 class="heading-medium"><a href="/apply">Find an apprenticeship</a></h2>
    <p>
       Search and apply for an apprenticeship in England 
      
       </div>
  </div><div class="grid-row">
        <div class="column-one-third">

   <h2 class="heading-medium"><a href="/recruit">Recruit an apprentice</a></h2>
  <p>
    Post vacancies and manage applications for apprenticeships
   
      </div>
  </div><div class="grid-row">
        <div class="column-one-third">

   <h2 class="heading-medium"><a href="/providers">Become a government-approved training provider</a></h2>
  <p>
      Join the register of apprenticeship training providers</p>
 
      </div>
  </div><div class="grid-row">
        <div class="column-one-third">

      <h2 class="heading-medium"><a href="/training">Find a training provider</a></h2>
      <p>
          See who offers apprenticeship training in your area
      </p>


    </div>
  </div><div class="grid-row">
        <div class="column-one-third">

      <h2 class="heading-medium"><a href="/manage">Pay for training using apprenticeship levy funds (for large employers)</a></h2>
      <p>
         Use this service to set up, manage and pay for apprenticeship training
        </p>

</div>
  </div><div class="grid-row">
        <div class="column-one-third">
    
      <h2 class="heading-medium"><a href="/levy">Pay apprenticeship levy</a></h2>
      <p>
          Find out if you have to pay the levy and how to report payments
        </p>

          </div>
  </div><div class="grid-row">
        <div class="column-one-third">


      <h2 class="heading-medium"><a href="/schools">Support for schools</a></h2>
      <p>
          Resources, information and networks to help your students
      </p>

</div>
  </div><div class="grid-row">
        <div class="column-one-third">
    
      <h2 class="heading-medium"><a href="/ambassadors">Young apprentice ambassadors network</a></h2>
      <p>
          Get in touch with past and current apprentices in your region
    </p>

</div>
  </div><div class="grid-row">
        <div class="column-one-third">
    
<h2 class="heading-medium"><a href="/ifa">Institute for Apprenticeships</a></h2>
<p>
    Developing and maintaining apprenticeship training and assessment
</p>
      
      </div>
  </div><div class="grid-row">
        <div class="column-one-third">
    <h2 class="heading-medium"><a href="/asssessment">How apprentices in England are assessed</a></h2>
    <p>
        The process for assessing apprentices doing apprenticeships in England
    </p>

    </div>
  </div><div class="grid-row">
        <div class="column-one-third">

    <h2 class="heading-medium"><a href="/epao">Record apprentice end-point assessment grades</a></h2>
    <p>
        For registered end-point assessment organisations to records grades for government funded apprenticeships and request certificates
    </p>

      </div>
  
  This document is a combination of rules and guidance in order to help you manage your apprenticeship in partnership with your chosen main provider. This summary checklist is a guide to the steps you must take to ensure you are meeting the apprenticeship funding rules. 

### Do I have a genuine job for this apprentice?

By genuine we mean that: 

* the apprentice must have a contract of service with you, or an apprenticeship training
agency, which is long enough for them to complete the apprenticeship successfully
(including, for standards the end-point assessment). Exceptions to this can be found in
paragraph E15

* the cost of the apprentice’s wages must be met by you

* the apprentice must have a job role (or roles) with you that provides the opportunity for them to gain the knowledge, skills and behaviours needed to achieve their apprenticeship

* the apprentice must have appropriate support and supervision on the job, by you, to
carry out their job role

### Have I checked the eligibility of the apprentice?



</main><!-- / #content -->
{% endblock %}
