{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}




{% block content %}


{% block after_header %}
{% include "includes/header.html" %}
{% endblock %}


<main class="index" id="content" role="main" tabindex="-1">

    <div class="hgroup text">

      <h1 class="heading-xlarge">
Apprenticeships in England
            </h1>
            <div class="text">
              <p class="lede">
Information about employing an apprentice, becoming an apprentice and providing apprenticeship training.              </p>
            </div>
  </div><div class="grid-row">
      <div class="column-one-third">

        <h2 class="heading-medium"><a href="/what">What is an apprenticeship?</a></h2>
        <p>
          ........</p>
      </div>
        <div class="column-one-third">

        <h2 class="heading-medium"><a  href="/style">Who can do an apprenticeship?</a></h2>
        <p>
          .......</p>
      </div>
      <div class="column-one-third">

        <h2 class="heading-medium"><a  href="/funding">Government funding for training apprentices</a></h2>
        <p>
          .......</p>
    </div>


    </div>
    <div class="grid-row">

       <div class="column-one-third">

  <h2 class="heading-medium"><a href="/providers">Become a training provider</a></h2>
  <p>
  ......</p>

  </div>
     <div class="column-one-third">

    <h2 class="heading-medium"><a href="/apply">Find an apprenticeship</a></h2>
    <p>
       Search and apply for an apprenticeship in England 
      </p>


  </div>
<div class="column-one-third">
  <h2 class="heading-medium"><a href="/recruit">Recruit an apprentice</a></h2>
  <p>
    Post vacancies and manage applications for apprenticeships
    </p>

  </div>
   
    </div>

    <div class="grid-row">
      
       <div class="column-one-third">

      <h2 class="heading-medium"><a  href="/headings">Headings</a></h2>
      <p>
          How we write headings, and maintain structure and consistency.
      </p>


    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a  href="/askingquestions">Asking questions</a></h2>
      <p>
         How we create a clear dialogue with users.
        </p>


    </div>

    <div class="column-one-third">

      <h2 class="heading-medium"><a href="/checkdetails">Confirming details</a></h2>
      <p>
          Patterns to follow when asking users to confirm information.
        </p>

            

  </div>
  </div>

   <div class="grid-row">
     
     <div class="column-one-third">

      <h2 class="heading-medium"><a href="/validation">Validation messages</a></h2>
      <p>
          The formats to use for inline messages.
      </p>


    </div>

    <div class="column-one-third">

      <h2 class="heading-medium"><a href="/banners">Banners</a></h2>
      <p>
          How to give users feedback using banners.
    </p>


    </div>
    <div class="column-one-third">

<h2 class="heading-medium"><a  href="/hyperlinks">Hyperlinks</a></h2>
<p>
    How to make hyperlinks useful and accessible.
</p>



    </div>
      
     

    </div>
     <div class="grid-row">
  <div class="column-one-third">

    <h2 class="heading-medium"><a href="/buttons">Buttons</a></h2>
    <p>
        How to format text for buttons.
      </p>


  </div>


  
  
    <div class="column-one-third" style="outline: 4px solid #ffbf47;">

  <h2 class="heading-medium"><a href="https://sfadigital.blog.gov.uk/" target="_blank">ESFA Digital blog</a></h2>
  <p>
  On-the-ground stories about content design and service delivery at ESFA.</p>

  </div>
      
    

    </div>


</main><!-- / #content -->
{% endblock %}
